# --- Database Configuration ---
DATABASE_URL=

# --- Users Microservice Configuration ---
JWT_ISSUER_URI=

# --- Keycloak Configuration ---
KEYCLOAK_SYNC_SECRET=

# --- Configuration Keycloak Admin ---
# L'URL du serveur Keycloak
KEYCLOAK_SERVER_URL=http://localhost:8090
# Le royaume où l'appli se trouve (cible)
KEYCLOAK_REALM=eventy-realm
# Le royaume où l'admin se connecte (souvent master ou le même)
KEYCLOAK_ADMIN_REALM=eventy-realm
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin